ul {
list-style: disc !important;
}

.nav {
  list-style: none !important;
}

.liststyle {
  list-style: none !important;
}

.mainmenu-nav .primary-menu {
  list-style: none  !important;
}

.rn-nav-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.feather-twitter-fill {
  fill: #fff;
}

@media only screen and (max-width: 767px) {
  .rn-nav-list {
    grid-template-columns: repeat(1, 1fr);
  }

  p {
    font-size: 16px;
  }
  .personal-experience-inner .experience-list .resume-single-list .inner p {
    font-size: 14px;
  }
}

.rn-btn.newBtn {
  padding: 15px;
  display: grid;
  grid-template-columns: auto 20px;
  grid-gap: 0.3rem;
  align-items: center;
  color: #fff;
}
.rn-btn.newBtn:hover {
  color: var(--color-primary);
}
.rn-btn.newBtn .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rn-btn.newBtn svg {
  fill: #fff;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.rn-btn.newBtn:hover svg {
  fill: var(--color-primary);
}

.rn-section-gap.rn-footer-area {
  padding: 1rem 0;
}

.left-header-style #sideNavs .primary-menu {
  padding-top: 0;
}

.rn-blog .thumbnail img {
  aspect-ratio: 10/6;
  object-fit: cover;
}
.modal .modal-news {
  max-width: 700px !important;
}

.slider-style-5 .thumbnail video {
     width: 320px;
    height: 320px;
    background: #000000;
    border-radius: 50%;
    display: flex;
    object-fit: contain;
    object-position: center;
      padding: 3rem 1rem 1rem 1rem;
}

@media only screen and (max-width: 767px) {
  .slider-style-5 .thumbnail video {
     width: 250px;
    height: 250px;
  }
}

.slider-style-5 h1{
  color: var(--color-lightn);
  text-align: start;
}
.slider-style-5 h1 span {
  display: block;
  font-size: 9vw;
  color: #fff;
}

.slider-style-5{
  text-align: start;
}

@media only screen and (max-width: 767px){
  .slider-style-5 h1 {
    font-size: 35px;
  }
  .slider-style-5 h1 span{
    font-size: 11vw;
    margin: 0.2em 0;
  }

  .cd-headline.clip .cd-words-wrapper {
    display: block;
  }

  .slider-style-5 .cd-headline span {
      font-size: 5vw;
  }

  .slider-style-5 .cd-headline .cd-words-wrapper b {
      font-size: 5vw;
  }
}

@media only screen and (max-width: 767px) {
  .contact-about-area .description span {
    font-size: 16px;
    word-wrap: break-word;
  }
}
